/* Fonts */
/* Colors */
/* Shadows */
/* Mixins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 640px) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 70%;
  }
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 314px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-block-start: 40px;
}
@media only screen and (min-width: 640px) {
  header img {
    width: 225px;
    height: 36px;
  }
}
@media only screen and (min-width: 930px) {
  header img {
    width: 300px;
    height: 48px;
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 30px;
}
.header__container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #fff;
}

.header__txt {
  margin-block-start: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #FFE9D5;
}

.header__btn {
  position: absolute;
  inset-block-end: -24px;
  padding: 15px;
  width: auto;
  height: auto;
  background: #FAF8F7;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: #282623;
}
.header__btn span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-inline-start: 10px;
  background-image: url("./../../assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background: #FAF8F7;
}

.exchange {
  width: 100%;
  height: auto;
  padding-block: 80px 30px;
  text-align: center;
}

.exchange__background {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-block-end: 50px;
  background-image: url("./../../assets/img/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.exchange__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.exchange__title h2 {
  margin-block-end: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #282623;
}
.exchange__title p {
  margin-block-end: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.exchange__table {
  display: flex;
  margin-block: 50px 30px;
}
@media only screen and (max-width: 520px) {
  .exchange__table {
    padding-inline: 31.25%;
    overflow: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    gap: 60px;
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  }
  .exchange__table::-webkit-scrollbar {
    visibility: hidden;
  }
}
@media only screen and (min-width: 520px) {
  .exchange__table {
    justify-content: center;
    gap: 10%;
  }
}

@media only screen and (max-width: 520px) {
  .exchange__currency, .exchange__commission {
    margin: 0 auto;
    scroll-snap-align: center;
    width: 68.75%;
    min-width: 220px;
    max-width: 320px;
  }
}
.currency__title, .commission__title {
  margin-block-end: 12px;
  margin-inline-start: 15px;
  text-align: start;
  font-size: 1.8rem;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  line-height: 2.3rem;
  color: #F7931A;
}

.currency__container, .commission__container {
  width: 100%;
  height: 170px;
}
.currency__container table, .commission__container table {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
}
.currency__container table td, .commission__container table td {
  width: 50%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.currency__container table td:first-child, .commission__container table td:first-child {
  padding-inline-start: 10px;
  text-align: start;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #7a7575;
}
.currency__container table td:last-child, .commission__container table td:last-child {
  text-align: end;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #757575;
}

.table__icon, .table__icon--up, .table__icon--down {
  display: inline-block;
  width: 12px;
  height: 13px;
  margin-inline: 10px;
}

.table__icon--down {
  background: url("../../assets/icons/trending-down.svg");
}

.table__icon--up {
  background: url("../../assets/icons/trending-up.svg");
}

.currency__update, .commission__update {
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  margin-block-start: 15px;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  background: #FFE9D5;
  border-radius: 8px;
  color: #201E1C;
}

.commission__title {
  color: #1A9AF7;
}

.commission__container table td:last-child {
  text-align: end;
  padding-inline-end: 25px;
}

.commission__update {
  background: #E7F5FF;
}

.product-detail {
  position: relative;
  padding: 60px 15px 40px;
  width: 100%;
  min-width: 320px;
  height: auto;
  background: #201E1C;
}

.product-detail__header {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.product-detail__header h2 {
  margin-block-end: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #fff;
}
.product-detail__header p {
  margin-block-end: 30px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #808080;
}

.product-detail__icon {
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 41px;
  background: url("../../assets/icons/batata.svg");
  inset-block-start: -12.5px;
  inset-inline-start: calc(50% - 20.5px);
}

.product-detail__container {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
}
@media only screen and (min-width: 930px) {
  .product-detail__container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
  }
}

.product-detail__card {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 15px auto;
  padding: 15px 16px 22px;
  border-radius: 5px;
  background: #282623;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.card__icon, .card__icon--check, .card__icon--money, .card__icon--eye, .card__icon--clock {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.card__icon--clock {
  background: url("../../assets/icons/clock.svg");
}

.card__icon--eye {
  background: url("../../assets/icons/eye.svg");
}

.card__icon--money {
  background: url("../../assets/icons/dollar-sign.svg");
}

.card__icon--check {
  background: url("../../assets/icons/check-circle.svg");
}

.card__title {
  margin-block: 7px 10px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: #fff;
}

.card__text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background: url("../../assets/img/bitcoinbaby.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img-container h2 {
  padding-block-start: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  text-align: center;
  color: #fff;
}
@media only screen and (min-width: 930px) {
  .img-container {
    background: url("../../assets/img/bitcoinbaby2x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.plans-container {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-block: 65px;
  background: #e5e5e5;
}

.plans__header {
  width: 90%;
  height: auto;
  margin: 0 auto 50px;
  text-align: center;
}
.plans__header h2 {
  margin-block-end: 24px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: #201E1C;
}
.plans__header p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans__slider {
  display: flex;
  padding-block-start: 20px;
}
@media only screen and (max-width: 640px) {
  .plans__slider {
    padding-inline: 35%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: inline mandatory;
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  }
  .plans__slider::-webkit-scrollbar {
    visibility: hidden;
  }
}
@media only screen and (min-width: 640px) {
  .plans__slider {
    justify-content: center;
  }
}

.plan-card {
  position: relative;
  box-sizing: border-box;
  scroll-snap-align: center;
  width: 60%;
  min-width: 190px;
  max-width: 300px;
  height: auto;
  margin: 0 10px;
  padding: 31px 15px 24px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px #59491E29;
}

.plan-card__advice {
  position: absolute;
  min-width: 101px;
  height: 31px;
  inset-inline-start: calc(50% - 50.5px);
  inset-block-start: -15.5px;
  box-sizing: border-box;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  background: #F7931A;
  border-radius: 8px;
}

.plan-card__body {
  width: 100%;
  margin: 0 auto;
}
.plan-card__body h3 {
  margin-block-end: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #000;
}
.plan-card__body button {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 12px 16px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: #201E1C;
  border: 2px solid #F7931A;
  border-radius: 4px;
  background: #FAF8F7;
  text-align: center;
}
.plan-card__body button span {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-inline-start: 7px;
  background: url("../../assets/icons/orange-right-arrow.svg");
  vertical-align: text-bottom;
  background-position: center;
  background-size: cover;
}
.plan-card__body button:hover {
  cursor: pointer;
}

.plan-card__price {
  position: relative;
  box-sizing: border-box;
  margin-block-end: 12px;
  padding-inline-end: 13px;
  font-family: "Inter", sans-serif;
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -0.08em;
  color: #000;
}
.plan-card__price::before {
  content: "$";
  position: relative;
  inset-block-end: 30px;
  padding-inline-end: 7px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #363636;
}

.plan-card__info {
  margin-block-end: 14px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #757575;
}

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background: #F7931A;
}
footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}
footer img {
  width: 41px;
  height: 25px;
  margin-block: 8px;
}
footer span {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #FFE9D5;
  text-align: center;
}
@media only screen and (min-width: 930px) {
  footer img {
    width: 61.5px;
    height: 37.5px;
  }
  footer span {
    font-size: 1.6rem;
    line-height: 2.7rem;
  }
}

.footer__list {
  list-style: none;
}
.footer__list li a {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #fff;
  text-decoration: none;
}
.footer__list li:not(:last-of-type) {
  margin-block-end: 10px;
}

/*# sourceMappingURL=main.css.map */
